In [5]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import folium
import os
import json, requests
from pandas.io.json import json_normalize
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [6]:
#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

In [8]:
df_initial = pd.read_csv('restaurant_dataframe.csv')
df_initial.drop('Unnamed: 0', axis=1, inplace=True)
df_initial

,product,price,type,rating,cuisine,restaurant,lat,log
0,misto tagliatella,15.30,plato,8.7,italiano,la tagliatella - fuencarral,40.431090,-3.703470
1,cannelloni,13.85,plato,8.7,italiano,la tagliatella - fuencarral,40.431090,-3.703470
2,copa de champan,11.00,bebida,9,americano,la gamella,40.418802,-3.688900
3,cafe,2.10,bebida,9,americano,la gamella,40.418802,-3.688900
4,media botella de agua,3.00,bebida,9,americano,la gamella,40.418802,-3.688900
...,...,...,...,...,...,...,...,...
21473,yakibifun apto para celiacos,11.25,plato,8.7,japones,janatomo,40.420045,-3.698975
21474,pollo crocante,9.00,plato,8.7,mediterraneo,monss,40.520155,-3.777851
21475,fabes de tineo con su compango,17.82,plato,9.1,asturiano,teitu,40.457087,-3.692160
21476,rape estilo lastres,17.82,plato,9.1,asturiano,teitu,40.457087,-3.692160
21477,"calderete de arroz con rape, almejas y ajos ti...",23.76,plato,9.1,asturiano,teitu,40.457087,-3.692160

In [10]:
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = ''

In [17]:
madrid_lat_long = [df_initial['lat'][0],df_initial['log'][0]]

In [18]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
    
def getDfFoursquareNearbyVenues(lat = madrid_lat_long[0], lng = madrid_lat_long[1] ,limit = 500, radius = 1000):
    url = 'https://api.foursquare.com/v2/venues/explore'
    params = dict(
        client_id=CLIENT_ID,
        client_secret=CLIENT_SECRET,
        v=VERSION,
        ll='%s,%s' % (lat, lng),
        radius='%s' % (radius),
        limit=limit
    )
    
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
    venues = data['response']['groups'][0]['items']
    nearby_venues = json_normalize(venues) # flatten JSON
    print('Found %s nearby venues at %s,%s' % (len(nearby_venues.index), lat, lng))
    
    # filter columns 
    filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
    if (len(nearby_venues.index) > 0): 
        nearby_venues = nearby_venues.loc[:, filtered_columns]
        # filter the category for each row
        nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
        # clean columns
        nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
        
    return nearby_venues

def getDfFoursquareByNeighborhood(neighborhoodName, neighborhoodLat, neighborhoodLng, radius = 500):
    nearby_venues = getDfFoursquareNearbyVenues(lat = neighborhoodLat, lng = neighborhoodLng, radius = radius ); # A Panda Dataframe
    print('Getting %s nearby venues at %s' % (len(nearby_venues.index), neighborhoodName))
    venues = nearby_venues.rename(columns={'name': 'Venue','lat': 'Venue Latitude', 'lng': 'Venue Longitude', 'categories': 'Venue Category'})
    venues['Neighborhood'] = neighborhoodName
    venues['Neighborhood Latitude'] = neighborhoodLat
    venues['Neighborhood Longitude'] = neighborhoodLng    
    return venues


def getNearbyVenues(names, latitudes, longitudes, radius=500):
    nearbyVenues = pd.DataFrame([], columns = ['Venue','Venue Category','Venue Latitude','Venue Longitude','Neighborhood','Neighborhood Latitude','Neighborhood Longitude'])
    for name, lat, lng in zip(names, latitudes, longitudes):
        items = getDfFoursquareByNeighborhood(name, lat, lng, radius)
        print('Adding %s nearby venues at %s' % (len(items.index), name))
        nearbyVenues = nearbyVenues.append(items, ignore_index=True, sort=False)
        print('Total venues found: %s' % len(nearbyVenues.index))
     
    return nearbyVenues

In [25]:
#venues near the restaurant lat-long defined:
df_venues = getDfFoursquareNearbyVenues()
df_venues

Found 100 nearby venues at 40.4310901,-3.70347

/home/almsasantos/miniconda3/envs/project_gpu/lib/python3.7/site-packages/ipykernel_launcher.py:26: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                              name        categories        lat       lng
0                        La Romana    Ice Cream Shop  40.430186 -3.705578
1           KalÃºa Helado Artesanal    Ice Cream Shop  40.431392 -3.703520
2                    BICO de xeado    Ice Cream Shop  40.429357 -3.701581
3   Nap Neapolitan Authentic Pizza       Pizza Place  40.431974 -3.702127
4                 Plaza de Olavide             Plaza  40.432755 -3.701049
..                             ...               ...        ...       ...
95                    La Duquesita      Dessert Shop  40.425510 -3.696688
96                    Roll Station               Bar  40.436016 -3.699184
97                      Alma Cheli  Tapas Restaurant  40.437100 -3.699574
98                         Nudista        Restaurant  40.431424 -3.699130
99                            Fide               Bar  40.437304 -3.699554

[100 rows x 4 columns]

In [34]:
venue_options = ['Plaza', 'Art Museum', 'Monument / Landmark', 'Art Gallery', 'Church', 'Palace', 'Opera House', 'Historic Site', 'Theater', 'Movie Theater', 'Indie Movie Theater', 'Garden']
df_venue_options = df_venues[df_venues['categories'].isin(venue_options)].reset_index()
if len(df_venue_options) > 1:
    display(df_venue_options[:2])
    print(f"Nearby there is a {df_venue_options['categories'][0]} called {df_venue_options['name'][0]}")
    print(f"Nearby there is a {df_venue_options['categories'][1]} called {df_venue_options['name'][1]}")
elif len(df_venue_options) > 0:
    df_venue_options[:1]
    print(f"Nearby there is a {df_venue_options['categories'][0]} called {df_venue_options['name'][0]}")
elif len(df_venue_options) == 0:
    print('There is no tourist attraction available.')

   index                 name categories        lat       lng
0      4     Plaza de Olavide      Plaza  40.432755 -3.701049
1     13  Glorieta de Quevedo      Plaza  40.433413 -3.704335

Nearby there is a Plaza called Plaza de Olavide
Nearby there is a Plaza called Glorieta de Quevedo

In [30]:
print(self.df_venue_options)
        if len(self.df_venue_options) > 2:
            return messagebox.showinfo('Suggestion', f"Nearby there is a {self.df_venue_options['categories'][0]} called {self.df_venue_options['name'][0]}\n"
                                                     f"Nearby there is a {self.df_venue_options['categories'][1]} called {self.df_venue_options['name'][1]}")
        elif len(self.df_venue_options) > 1:
            return messagebox.showinfo('Suggestion', f"Nearby there is a {self.df_venue_options['categories'][0]} called {self.df_venue_options['name'][0]}")
        elif len(self.df_venue_options) == 0:
            return messagebox.showinfo('Suggestion','There is no tourist attraction available.')

'Plaza'